.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3rem;
}

.transaction {
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.transaction-icon {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.transaction-icon:hover {
  background-color: #4b4a4a;
}

.transaction-icon img {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1);
}

.transaction-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.transaction-date {
  font-size: 1.8rem;
  color: var(--lable-color);
}

.transaction-amount {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.month-section {
  margin-top: 4rem;
}

.month-label {
  text-align: center;
  font-size: 2rem;
  color: var(--lable-color);
  margin: 3rem 0;
  position: relative;
}

.month-label::before,
.month-label::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: var(--lable-color);
}

.month-label::before {
  left: 0;
}

.month-label::after {
  right: 0;
}

.see-all-btn {
  display: block;
  margin: 3rem auto 0 auto;
  background-color: transparent;
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 3rem;
}

.see-all-btn:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}
